<!DOCTYPE html>
<html lang="en">
{% include 'home/includes/header.html' %}
{% include 'home/includes/themes.html' %}


<body>
    <main>


        {% include 'home/core/navigation.html' %}

        <!-- Each section will fade in as you scroll down -->
        <section class="content">
            {% include 'home/includes/images/database-gif.html' %}

            <!-- <div class="intro-paragraph">
                Hi! I'm a data consultant and am one of those weird people who loves what they do. <br><br>

                You'd think it was game-over when my parents named me Tera. Perhaps a little foreshadowing... 
                Committing to data as a career path began when I took on the challenge of writing SQL and code as if it was an artistic medium. My parents both being 
                artists and marketers themselves, learning to code in a way that sparked joy in developers and 
                analysts is one of the most rewarding things about my career thus far. (Nerd alert). TLDR: I love this shit. <br><br>

                I got my chops in data at a Japanese unicorn marketplace, Mercari. Met a bunch of really cool people and benefitted from some amazing 
                technical and professional mentors. Following suit, I supported various startups; ranging from marketplaces to fintech with a purpose (Alice Financial) 
                - and now work as a data consultant for Block.xyz. In my spare time, I also built a company from scratch called Cowgirl AI, 
                that enables users to create their own AI agents without the bells and whistles of B2B SaaS.
            </div> -->

            
        </section>
        
    </main>

</body>

{% include 'home/includes/scripts.html' %}
{% include 'home/includes/footer.html' %}

</html>