<!DOCTYPE html>
<html lang="en">
{% include 'home/includes/header.html' %}
{% include 'home/includes/themes.html' %}


<body>
    <main>

        <!-- {% include 'home/includes/buttons/scroll_to_top.html' %} -->
        {% include 'home/includes/navigation.html' %}

           
        <!-- Each section will fade in as you scroll down -->
        <section>

            
            <br>


        </section>
<!-- 
        <section class="content fade-in">
            <span class="fade-in"><h2>Big Data Energy</h2></span><br>

            <span class="fade-in">
                <p>
                    Tera is an experienced technologist specializing in data engineering, pipeline optimization, and system architecture, with a strong focus on solutions for finance and technology sectors.
                </p>

            </span>


        </section>
    -->
        
    </main>

</body>

{% include 'home/includes/scripts.html' %}
{% include 'home/includes/footer.html' %}

</html>