<!DOCTYPE html>
<html lang="en">
{% include 'home/includes/header.html' %}
{% include 'home/includes/themes.html' %}


<body>
    <main>

        <!-- {% include 'home/includes/buttons/scroll_to_top.html' %} -->
        {% include 'home/includes/navigation.html' %}

           
        <!-- Each section will fade in as you scroll down -->
        <section class="content">

            
            {% include 'home/core/logo.html' %}
            <br>
            <div class="intro-paragraph">
                You may be surprised (potentially amused) to discover that I created the above animation. 
                <br><br>
                This particular animation draws inspiration from things I love the most in this world, the ocean, meditation, small caps 
                type font and a little bit of magic. It was harder to create than I would like to admit — but the best things in life take patience,
                perseverance and a little grit. 
                <br><br>
                Hopefully you find yourself curiously becoming more and more relaxed, 
                drifting into a meditative state of wonder. Perhaps, as your eyes are growing heavier, 
                you are growing sleepier and compelled to give me all your money. 
                <br><br>
                In case that didn’t work but are still interested in learning more about my data, 
                AI engineering or people skills, feel free to reach out when I snap my fingers in 3, 2….
                <br><br>
            </div>

            
        </section>
        
    </main>

</body>

{% include 'home/includes/scripts.html' %}
{% include 'home/includes/footer.html' %}

</html>