<!DOCTYPE html>
<html lang="en">
{% include 'home/includes/header.html' %}
{% include 'home/includes/themes.html' %}


<body>
    <main>

        <!-- {% include 'home/includes/buttons/scroll_to_top.html' %} -->
        {% include 'home/includes/navigation.html' %}

           
        <!-- Each section will fade in as you scroll down -->
        <section>

            
            <br>


        </section>
        
    </main>

</body>

{% include 'home/includes/scripts.html' %}
{% include 'home/includes/footer.html' %}

</html>