<body>
    <!-- <h1>Interactive SQL Code Example</h1> -->
    <div class="sql-code">
        SELECT <span class="keyword" id="experience">experience</span> FROM career;
    </div>

    <!-- Popup overlay -->
    <div class="popup-overlay" id="popupOverlay"></div>

    <!-- Popup content -->
    <div class="popup" id="popup">
        <button class="close-btn" id="closeBtn">x</button>
        <h2>The Story so Far</h2><br>

        <p>In a nutshell:</p><br>

        <table> 
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                <!-- Row 1 -->
                <tr>
                    <td>Mercari</td>
                    <td>Jr. Business Intelligence Analyst</td>
                    <td>2018</td>
                    <td>2020</td>
                </tr>
                <!-- Row 2 -->
                <tr>
                    <td>Mercari</td>
                    <td>Business Intelligence Analyst</td>
                    <td>2020</td>
                    <td>2021</td>
                </tr>

                <tr>
                    <td>Curtsy</td>
                    <td>Data Analyst</td>
                    <td>2021</td>
                    <td>2021</td>
                </tr>

                <tr>
                    <td>This is Alice</td>
                    <td>Data Analytics Engineer</td>
                    <td>2021</td>
                    <td>2022</td>
                </tr>

                <tr>
                    <td>Mercari</td>
                    <td>Data Warehouse Engineer</td>
                    <td>2022</td>
                    <td>2023</td>
                </tr>

                <tr>
                    <td>Mercari</td>
                    <td>Data Engineer</td>
                    <td>2023</td>
                    <td>2024</td>
                </tr>

                <tr>
                    <td>Cowgirl AI</td>
                    <td>Co-Founder & CEO</td>
                    <td>2024</td>
                    <td>2025</td>
                </tr>

                <tr>
                    <td>Qbiz</td>
                    <td>Data Consultant</td>
                    <td>2024</td>
                    <td>2025</td>
                </tr>

                <tr>
                    <td>Block.xyz</td>
                    <td>Data Consultant</td>
                    <td>2024</td>
                    <td>2025</td>
                </tr>
                <tr>
                    <td>CSG</td>
                    <td>Data Consultant</td>
                    <td>2025</td>
                    <td>2025</td>
                </tr>
                <tr>
                    <td>Block.xyz</td>
                    <td>Data Engineer</td>
                    <td>2025</td>
                    <td>Present</td>
                </tr>

            </tbody>
        </table>


    </div>

</body>

</html>