<section id="section-id" class="section">

  <div id="container-id" class="container">

    <span class="intro" id="intro-id">

      <span class="static-text">
        <span class="word">I</span>
        <span class="word">am</span>
        <span class="word">a</span>
        <span class="word">Data</span>
      </span>

      <span class="rotating-text">
        <span id="word-1" class="rotating-word sun-flower">Consultant</span>
        <span id="word-2" class="rotating-word peter-river">Engineer</span>
        <span id="word-3" class="rotating-word alizarin">Entrepreneur</span>
      </span>

    </span>

  </div>
  <br><br><br><br>
<!-- 
  <span class="intro-text">
    <p class="database-title">
      A seasoned Data Consultant with extensive experience in the technology industry, Tera helps companies detangle messy data pipelines, optimize SQL queries and develop world-class AI & data governance strategies.
    </p>
  </span> -->
</section>