* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

/* 
Sets the maximum website height to 1000vh. 

*/

hr {
  width: 70%;
  margin: 0 auto;
}

body {
  height: 1000vh;
  min-height: 100vh;
  background: linear-gradient(-49deg, #1e1e1e, #022240);
  background-size: 400% 400%;
  background-position: 0% 70%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  z-index: -1;
}

.section {
  padding: 10rem;
}

.section-paragraph {
  width: 80%;
  text-align: center;
  color: #ffffff85;
  font-size: 20px;
  padding: 15px;
  margin: 1px;
  text-shadow: 0px 2px 5px #1a1a1a85;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.section-paragraph:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.highlighted-word {
  width: 80%;
  text-align: center;
  font-size: 20px;
  text-shadow: 0px 2px 5px #1a1a1a85;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.5;
}

.highlighted-word:hover {
  opacity: 1;
  color: #ffffff;
  transform: scale(1.15);
}

/* Header styling */
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  text-align: center;
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  text-align: center;
  line-height: 1.6;
}

/* Content sections */
.content {
  min-height: 100vh; /* Let each section fill the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(-49deg, #272727, #0960b2);
  border-bottom: 1px solid #ddd;
  color: #f2f2f2;
}

/* Basic fade-in class (initially hidden) */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.75s ease, transform 1.5s ease;
}

/* Class added by JS once it's in view */
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.database {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem; /* Optional: Adds spacing between items */
  padding: 25px;
}

.database p {
  text-align: right;
  padding: 5px;
  margin: 50px; /* Adds space to the left side */

}

.database img {
  margin: 50px; /* Adds space to the left side */
  padding: 5px;
}