/* Media query adjustments for mobile devices */
@media (max-width: 768px) {
  html, body {
    background-position: center;
  }
    
  /* Adjust intro paragraph for a more fluid layout */
  .intro-paragraph {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

}

/* Mobile UI adjustments for even smaller screens */
@media (max-width: 600px) {


}