/* Media query adjustments for mobile devices */
@media (max-width: 768px) {

  html, body {
    background-position: center;
  }
  .static-text,
  .rotating-text {
    font-size: 35px;
    margin: 0 2px;
    transition: font-size 0.3s ease, margin 0.3s ease;
  }
  .fade-in,
  .content {
    font-size: 15px;
    margin: 0 2px;
    margin-right: 4px;
  }

  .database {
    gap: 1rem; /* Optional: Adds spacing between items */
    padding: 5px;  
  }

  .database p {
    text-align: right;
    padding: 1px;
    margin: 5px; /* Adds space to the left side */

  }

  .database img {
    margin: 40px; /* Adds space to the left side */
    padding: 5px;
  }
  }

/* Mobile UI adjustments */
@media (max-width: 600px) {
  .static-text,
  .rotating-text {
    font-size: 20px;
    margin: 0 2px;
    margin-right: 4px;
    padding: 4px;
    transition: font-size 0.3s ease, margin 0.3s ease, padding 0.3s ease;
  }
}
