.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1a1a1a9a;
    box-shadow: 0 2px 4px rgba(87, 87, 87, 0.1);
    z-index: 1000;
    /* ensures it's on top of other elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/* 

.navbar .logo {
    color: #1a1a1a;
    font-size: 1.5rem;
    font-weight: bold;
} 
    
*/


.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

.navbar .nav-links li {
    margin-left: 1rem;
}

.navbar .nav-links li a {
    color: #f9f9f9;
    font-size: 13px;
    text-decoration: none;
    padding: 0.5rem;
    transition: background 0.3s;
}

.navbar .nav-links li a:hover {
    background-color: #1515152f;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
}
